<%= render partial: 'shared/header' %>

<%= render 'shared/side_menu' %>

<div class="main-content p-4" style='margin-top: 80px;'>
    <%= render 'overview_widget' %>

    <div class="row g-0 mt-4">
        <%= render 'referral_widget' %>
        <%= render 'widthraw_widget' %>
    </div>

    <%= render 'status_widget' %>
</div>